<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <title>Layout page</title>
    <!--

    NATIVE WAY OF LAYOUTING
    http://blog.codeleak.pl/2013/11/thymeleaf-template-layouts-in-spring.html

    -->

    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.0.3/css/bootstrap.min.css}" rel="stylesheet" />


</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">eStore</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/blog}">Blog</a></li>
            <li><a th:href="@{/forum}">Forum</a></li>
            <li><a th:href="@{/catalog}">Catalog</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">S<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
    <div class="container">
        <div class="row">
           <div class="col-md-12">
               <section layout:fragment="content">
                   <p>Page content goes here</p>
               </section>
           </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <footer id="footer">
                    <!--<p layout:fragment="custom-footer">Custom footer here</p>-->
                    <p>&copy; 2014, Your Company Limited</p>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>