<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} [%-5level] [%-40logger{40}] -- %msg %n</pattern>
        </encoder>
    </appender>

    <jmxConfigurator />

    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.oxm.jaxb" level="WARN" />
    <logger name="org.springframework.web" level="WARN" />
    <logger name="org.springframework.security" level="WARN" />
    
        

    <!-- Default logger.  Default is WARN level only -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <!-- <appender-ref ref="FILE" /> -->
    </root>
    
</configuration>